/* ==========================================================================
   Author's custom styles
   ========================================================================== */

//https://cdn-images-1.medium.com/max/800/1*UNjp6kVHfXwA_LNRbStArQ.png





@import 'variables.scss';
@import 'teams.scss';
@import 'playerStats.scss';
@import 'navigation.scss';
@import 'topScores.scss';
.row   {
    margin-left:-5px;
    margin-right:-5px;
    
    @media(min-width:$screen-sm){
        margin-left:-15px;
        margin-right:-15px;
    }   

}


.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
        padding-right:5px;
    padding-left:5px;
    @media(min-width:$screen-sm){
            padding-right:15px;
    padding-left:15px;
    }
    

}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak,
.ng-hide:not(.ng-hide-animate) {
  display: none !important;
}

ng\:form {
  display: block;
}

.ng-animate-shim {
  visibility:hidden;
}

.ng-anchor {
  position:absolute;
}
body {
    font-family: 'Arimo', sans-serif;
    color:#37474f;
    font-size:10px;  
    margin-top:80px;
    //background:url(../img/_real_cf.png) repeat left top $A2;
    background:$A1;
}
.linemate-logo {
    margin-top: 4px;
    max-height:45px;
    float: right;
    @media(min-width:$screen-sm){
        max-height:50px;
        margin-top: 4px;    
    }
}

h1 {
    font-size:30px;   
    font-weight: 700;
    letter-spacing: -1.5px;
    small {
        font-size: 100%;
        color:white;
    }
}
h3 {
    font-size:12px;
}
h5 {font-size:11px;}

    .venueWrapper {
         padding-left:80px;
     }

 @media(min-width:$screen-sm){
     body {
         font-size:14px; 
         margin-top:100px;
    }
     h1{ 
    font-size: 40px;

    letter-spacing: -1.5px;
     }    
     h3 { font-size:20px;}    
     h5 {font-size:14px;}
     .teamlogo {     }
     .mgn-btm {
    margin-bottom:0px;
}
     
     .team-heading {
         padding-left:240px;
     }
     .venueWrapper {
         padding-left:240px;
     }
     
}
@media(min-width:$screen-lg){
    body {
         font-size:14px; 
         margin-top:45px;
    }
}




 .teamlogo {   }
.navSwitch {
    font-size:30px;
    float: left;
    margin-top:7px;
    color:grey;
}








hr {
    margin-top:5px;
    margin-bottom:5px;
}
.nav.nav-pills {
    width:100%;
    background: $A5;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
    float: left;
    
    &:before {
        position: absolute;
        left: 14px;
        bottom: 7px;
        width: 33.3333%;
        content: " ";
        box-shadow: 0px 0px 40px 0px #323232, 0px 0px 30px 0px #000000;
        transform: rotate(-1deg);
        height: 5px;
        z-index: -79;
    }
    &:after {
        position: absolute;
        right: 14px;
        bottom: 7px;
        width: 33.3333%;
        content: " ";
        box-shadow: 0px 0px 40px 0px #323232, 0px 0px 30px 0px #000000;
        transform: rotate(1deg);
        height: 5px;
        z-index: -79;
    }
}
 .nav.nav-pills li {
    width:25%;
    margin:0px;
    background: $A5;
    border-left: 1px solid #90a4ae;
    border-right: 1px solid #607d8b;
    border-top: 1px solid #90a4ae;
    border-bottom: 1px solid #607d8b;
}
.nav.nav-pills li a {
    text-align: center;
    color:white;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.nav.nav-pills li a:focus, .nav.nav-pills li a.active{
    background: #455a64;
    border-radius:0px;
}

.nav.nav-pills li a:hover{
    background: #607d8b;
    border-radius:0px;
}






.table-condensed.ultra-condenced td, .table-condensed.ultra-condenced th {
    padding:3px;
}
.highcharts-title {
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif !important;
    text-align: center!important;
    font-size: 11px!important;
}
.zeroMargins {
    margin:0px;
}
.highcharts-container {
    margin:0px auto;
}
.legendBoxes {
    display:inline-block;
    width:10px; 
    height: 10px;    
    margin-right: 3px;
}
.legendList {
    width:100%;
    display: flex;
    align-content: stretch;
    flex-wrap: nowrap;
    align-items: flex-start;
    margin: 0px;
    padding-left: 30px;
    li {
        width:33.3333%;
        text-align: center;
    }
}

.wins {
    background:#cccccc;
}
.otw {
    background:#4f4f4f;
}
.los {
    background:#000000;
}
.statWrapper {
    width:100%;
    float:left;
    height:auto;
}
.panel {
    border-radius:0px;
}
.btn, .btn-sm {
    border-radius:0px;
}
.well {
    border-radius:0px;
    
    margin-bottom: 10px;
    
    @media(min-width:$screen-sm){
      margin-bottom:0px;
    }
}
.navbar {
    border-radius: 0px;
    border:0px none;
}

.modal-header {
    padding-left:33.3333333%;
    .modal-title {
       margin-left: 15px; 
    }
}
.hiddenOverflow {
    overflow: hidden;
}
.teamBG {    
    position: absolute;
    width: 33.333%;
    height: 375px;
    overflow: hidden;
    left: 0px;
    top: 0px;
    img {
        position: absolute;
        transform: rotate(30deg);
        left:-50px;
        width:100%;
        height:345px;
        opacity: .1;
        filter:grayscale(1);    
    }
}
.well {
    background:#37474f;
    border:0px none;
    box-shadow: 0 0 0 rgba(0,0,0,0);   
    color:white;
}

.panel.panel-default {
    border:0px none;
    box-shadow: 0 0 10px rgba(100,100,100,0.3);
    position: relative;
    border-bottom:1px solid #dfdfdf;
    transition: all 300ms ease-in-out;
    
    &:before {
        position: absolute;
        left: 14px;
        bottom: 7px;
        width: 33.3333%;
        content: " ";
        box-shadow: 0px 0px 40px 0px #323232, 0px 0px 30px 0px #000000;
        transform: rotate(-1deg);
        height: 97px;
        z-index: -79;
        transition: all 300ms ease-in-out;
    }
    &:after {
        position: absolute;
        right: 14px;
        bottom: 7px;
        width: 33.3333%;
        content: " ";
        box-shadow: 0px 0px 40px 0px #323232, 0px 0px 30px 0px #000000;
        transform: rotate(1deg);
        height: 97px;
        z-index: -79;
        transition: all 300ms ease-in-out;
    }
    .panel-heading {
        background:#455a64; 
        border-radius:0px;
        border:0px none;
        background-image:none;
        color:#ffffff;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid $A5;
        strong {
            font-weight: 700;
        }
    }
    &:hover {        
        &:after {
            bottom:15px;
        }
        &:before {
            bottom:15px;
        }
    }
    .panel-body {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+45,dbdbdb+100 */
        background: rgb(255,255,255); /* Old browsers */
        background: -moz-linear-gradient(top, rgba(255,255,255,1) 45%, rgba(240,240,240,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(255,255,255,1) 45%,rgba(240,240,240,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(255,255,255,1) 45%,rgba(240,240,240,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dbdbdb',GradientType=0 ); /* IE6-9 */   
        border-bottom: 1px solid #dedede;
    }
    
}
.btn.btn-default {
    border:2px solid #455a64;
    color:#455a64;
    background: none #ffffff;
    text-transform: uppercase;
        font-weight: 700;
    
}
.modal {
    .modal-content {
        border-radius:0px;
        .modal-header {
            background: #455a64;
            border-radius: 0px;
            border: 0px none;
            background-image: none;
            color: #ffffff;
            text-transform: uppercase;
            font-weight: 700;
        }
        .modal-body {
            background:#F5F5F5;
        }
    }
}
.list-group {
    box-shadow: 0 0 0 rgba(0,0,0,0);
    background:transparent;
    .list-group-item {
        border:0px none;
        padding-left:0px;
        border-top:1px solid #cccccc;
        background:transparent;
        &:first-child {
           border-top:0px none; 
        }
    }
}
.table-responsive {
    position:relative;
    z-index: 1;
/*    &:before {
        position: absolute;
        left: 14px;
        bottom: 27px;
        width: 33.3333%;
        content: " ";
        box-shadow: 0px 0px 30px 0px #323232;
        transform: rotate(-1deg);
        height: 97px;
        z-index: -79;
    }
    &:after {
        position: absolute;
        right: 14px;
        bottom: 27px;
        width: 33.3333%;
        content: " ";
        box-shadow: 0px 0px 30px 0px #323232;
        transform: rotate(1deg);
        height: 97px;
        z-index: -79;
    }*/
}
table.table.score-table {
    background: #ffffff;
    border-collapse: inherit;
    th {            
        @include slickHeading;
    }
    td {        
        @include slickList;
    }
    
}
.navbar {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.75);
    background:$A1;
    &.footer {
        margin-bottom:60px;
        padding:20px 0px;
        @media (min-width:$screen-sm){
            margin-bottom:0px;
        }
    }
}

.playerMugShots {
    border:5px solid $A1;    
    @media(min-width:$screen-md){
        width:178px;
        height:178px; 
    }
    
    .modal-body & {
        margin-top: -45px;
    }
}


.topScores li.ng-enter,
.topScores li.ng-leave,
.topScores li.ng-move {
  transition: 0.2s linear all;
}

.topScores li.ng-enter,
.topScores li.ng-move {
  height: 0;
  opacity: 0;
  overflow: hidden;
}

.topScores li.ng-enter.ng-enter-active,
.topScores li.ng-move.ng-move-active {
  height:auto;
  opacity: 1;
}

.topScores li.ng-leave {
  opacity: 1;
  overflow: hidden;
}

.topScores li.ng-leave.ng-leave-active {
  height: 0;
  opacity: 0;
  padding-bottom: 0;
  padding-top: 0;
}




.skaters.ng-enter,
.skaters.ng-leave,
.skaters.ng-move {
  transition: 0.2s linear all;
}

.skaters.ng-enter,
.skaters.ng-move {
  height: 0;
  opacity: 0;
  overflow: hidden;
}

.skaters.ng-enter.ng-enter-active,
.skaters.ng-move.ng-move-active {
  height:auto;
  opacity: 1;
}

.skaters.ng-leave {
  opacity: 1;
  overflow: hidden;
}

.skaters.ng-leave.ng-leave-active {
  height: 0;
  opacity: 0;
  padding-bottom: 0;
  padding-top: 0;
}
.uppercase {
    text-transform: uppercase;
}
.tenPx {
    font-size: 10px;
}
.relative {
    position:relative;
}
.logoWrapper {
    position: absolute;    
    background: white;    
    width: auto;
    height: auto;    
    box-shadow: 0px 0px 17px rgba(000,000,000, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    left:17px;
    bottom:-55px;
    padding:10px;
    width:70px;
    height:70px;
    
    img {
        max-height:50px;
    }
    
    
    @media(min-width:$screen-sm){
        left: 25px;
        top: -25px;
        height: 200px;
        width: 200px;
        padding: 20px;
        img {
            max-height:160px;
        }
    }
    
    
    
    
}
.trayLogo {    
    margin: 5px;
    max-width: 90%; 
}
.detailsRow {
    background:#f0f0f0;
    padding:0px;
    width:100%;
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    flex-wrap: wrap;
    .detail {        
        padding:5px;  
        width:33.3333%;
        border-top:1px solid #fff;
        border-left:1px solid #dedede;
        border-bottom:1px solid #dedede;
        border-right:1px
    }
    
}
.mgn-top-0px {
    margin-top: 0px;
}
.mgn-top-20px {
    margin-top:20px;
}
.mgn-btm-30px {
    margin-bottom:30px;
}
.teamStatsWrapper {
    width: 100%;
    min-height: 182px;
    background: #f0f0f0;
    border-top: 1px solid white;
    border-left: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    padding: 10px;
}
.noGutter {
    @media(min-width:$screen-sm){
        .pad-sm-rgt-0px {
            padding-right:0px;
        }
        .pad-sm-lft-0px {
            padding-left:0px;
        }
    }
}
.disclaimer {
    padding-left:12vw;
}
.modalNav {
    width:100%;
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    flex-wrap: nowrap; 
    a, button {
        width:33.3333%;
    }
}

.leagueList {
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 5px;
    @include slickList;
    
    
    .rank{
        text-align: center;
        padding:5px;
        width:60px;
    }    
    .teamName {
        text-align: left;
        width:80%;
        text-transform: uppercase;
        font-size: 10px;
        letter-spacing: 0.5px;
    }
    .teamPoints {
        text-align: right;
        padding:5px;
        width:40px;
        font-size:10px;
    }
}
.pad-0px {
    padding:0px;
}

.playerActionShot {
    margin:-15px;    
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    position:relative;
    .shotWrapper {
        position:relative;
        z-index: 0;
        &:after {
            width:100%;
            height:100%;
            left:0px;
            top:0px;
            right:0px;
            bottom:0px;
            z-index: 1;
            position: absolute;
            content:"";
            -webkit-box-shadow: inset 0px 0px 130px 20px rgba(50, 50, 50, 0.5);
            -moz-box-shadow:    inset 0px 0px 130px 20px rgba(50, 50, 50, 0.5);
            box-shadow:         inset 0px 0px 130px 20px rgba(50, 50, 50, 0.5);
        }
    }
    img {
        //filter: grayscale(1);
    }
    .nameNumber {
        
        
        color: white;        
        z-index: 2;        
        padding: 0px 10px;
        text-transform: uppercase;
        width:100%;
        margin-bottom: 20px;
        z-index: 0;        
        background: #455a64;
        text-align: right;
        font-size: 14px;
        padding-left:34%;
        
        @media(min-width:$screen-sm){
            font-size: 25px;
        }
        
        
        @media(min-width:$screen-md){
            font-size: 40px;
        }
        
        
    }
    
}
.panel-group {
    .panel.panel-default .panel-heading {
        @include lightSlickHeading;
    }
}
.modal-backdrop.in {
    opacity: 0.8;
}
.modal-content {
    .forwards {
        position: absolute;
        
        
        
        width: 55px;
        left: -55px;
        top: 0px;
        bottom: 0px;
        z-index: 10000;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        i.material-icons {
            font-size:50px;
            color:white;
        } 
        
        
    }
    .backwards {
        position: absolute;
        width: 55px;
        right: -55px;
        top: 0px;
        bottom: 0px;
        z-index: 10000;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        i.material-icons {
            font-size:50px;
            color:white;
        } 
    }
}
