/* ==========================================================================
   Author's custom styles
   ========================================================================== */

//https://cdn-images-1.medium.com/max/800/1*UNjp6kVHfXwA_LNRbStArQ.png
@import 'teams.scss';
@import 'playerStats.scss';
@import 'navigation.scss';
.row   {
    margin-left:-5px;
    margin-right:-5px;
    
    @media(min-width:768px){
        margin-left:-15px;
        margin-right:-15px;
    }   

}


.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
        padding-right:5px;
    padding-left:5px;
    @media(min-width:768px){
            padding-right:15px;
    padding-left:15px;
    }
    

}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak,
.ng-hide:not(.ng-hide-animate) {
  display: none !important;
}

ng\:form {
  display: block;
}

.ng-animate-shim {
  visibility:hidden;
}

.ng-anchor {
  position:absolute;
}
body {
    font-family: 'Arimo', sans-serif;
    font-size:10px;  
    margin-top:80px;
    //background:url(../img/real_cf.png) repeat left top;
    background:#CFD8DC;
    
    
    
    
}
.linemate-logo {
    margin-top: 4px;
    max-height:45px;
    float: right;
    @media(min-width:768px){
        max-height:50px;
        margin-top: 4px;    
    }
}

h1 {
    font-size:30px;   
    font-weight: 700;
    letter-spacing: -1.5px;
}
h3 {
    font-size:12px;
}
h5 {font-size:11px;}
 @media(min-width:768px){
     body {font-size:14px; margin-top:80px;}
     h1{ 
    font-size: 40px;

    letter-spacing: -1.5px;
     }    
     h3 { font-size:20px;}    
     h5 {font-size:14px;}
     .teamlogo {    height:120px;    }
     .mgn-btm {
    margin-bottom:0px;
}
}
 .teamlogo {    height:85px;    }
.navSwitch {
    font-size:30px;
    float: left;
    margin-top:7px;
    color:grey;
}








hr {
    margin-top:5px;
    margin-bottom:5px;
}
.nav.nav-pills {
    width:100%;
    background: #78909C;
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
    float: left;
    
    &:before {
        position: absolute;
        left: 14px;
        bottom: 7px;
        width: 33.3333%;
        content: " ";
        box-shadow: 0px 0px 40px 0px #323232, 0px 0px 30px 0px #000000;
        transform: rotate(-1deg);
        height: 5px;
        z-index: -79;
    }
    &:after {
        position: absolute;
        right: 14px;
        bottom: 7px;
        width: 33.3333%;
        content: " ";
        box-shadow: 0px 0px 40px 0px #323232, 0px 0px 30px 0px #000000;
        transform: rotate(1deg);
        height: 5px;
        z-index: -79;
    }
}
 .nav.nav-pills li {
    width:25%;
    margin:0px;
    background: #78909C;
}
.nav.nav-pills li a {
    text-align: center;
    color:white;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.nav.nav-pills li a:focus, .nav.nav-pills li a.active{
    background: #455a64;
    border-radius:0px;
}

.nav.nav-pills li a:hover{
    background: #607d8b;
    border-radius:0px;
}






.table-condensed.ultra-condenced td, .table-condensed.ultra-condenced th {
    padding:3px;
}
.highcharts-title {
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif !important;
    text-align: center!important;
    font-size: 11px!important;
}
.zeroMargins {
    margin:0px;
}
.highcharts-container {
    margin:0px auto;
}
.legendBoxes {
    display:inline-block;
    width:10px; 
    height: 10px;    
    margin-right: 3px;
}
.wins {
    background:#cccccc;
}
.otw {
    background:#4f4f4f;
}
.los {
    background:#000000;
}
.statWrapper {
    width:100%;
    float:left;
    height:auto;
}
.panel {
    border-radius:0px;
}
.btn, .btn-sm {
    border-radius:0px;
}
.well {
    border-radius:0px;
    
    margin-bottom: 10px;
    
    @media(min-width:768px){
      margin-bottom:0px;
    }
}
.navbar {
    border-radius: 0px;
    border:0px none;
}

.modal-header {
    padding-left:33.3333333%;
    .modal-title {
       margin-left: 15px; 
    }
}
.hiddenOverflow {
    overflow: hidden;
}
.teamBG {    
    position: absolute;
    width: 33.333%;
    height: 375px;
    overflow: hidden;
    left: 0px;
    top: 0px;
    img {
        position: absolute;
        transform: rotate(30deg);
        left:-50px;
        width:100%;
        height:345px;
        opacity: .1;
        filter:grayscale(1);    
    }
}
.well {
    background:#37474f;
    border:0px none;
    box-shadow: 0 0 0 rgba(0,0,0,0);   
    color:white;
}

.panel.panel-default {
    border:0px none;
    box-shadow: 0 0 0 rgba(0,0,0,0);
    position: relative;
    border-bottom:1px solid #dfdfdf;
    &:before {
        position: absolute;
        left: 14px;
        bottom: 7px;
        width: 33.3333%;
        content: " ";
        box-shadow: 0px 0px 40px 0px #323232, 0px 0px 30px 0px #000000;
        transform: rotate(-1deg);
        height: 97px;
        z-index: -79;
    }
    &:after {
        position: absolute;
        right: 14px;
        bottom: 7px;
        width: 33.3333%;
        content: " ";
        box-shadow: 0px 0px 40px 0px #323232, 0px 0px 30px 0px #000000;
        transform: rotate(1deg);
        height: 97px;
        z-index: -79;
    }
    
    
    
    .panel-heading {
    background:#455a64; 
    border-radius:0px;
    border:0px none;
    background-image:none;
        color:#ffffff;
        text-transform: uppercase;
        font-weight: 700;
}
}
.btn.btn-default {
    border:2px solid #455a64;
    color:#455a64;
    background: none #ffffff;
    text-transform: uppercase;
        font-weight: 700;
    
}
.modal {
    .modal-content {
        border-radius:0px;
        .modal-header {
            background: #455a64;
            border-radius: 0px;
            border: 0px none;
            background-image: none;
            color: #ffffff;
            text-transform: uppercase;
            font-weight: 700;
        }
        .modal-body {
            background:#F5F5F5;
        }
    }
}
.list-group {
    box-shadow: 0 0 0 rgba(0,0,0,0);
    background:transparent;
    .list-group-item {
        border:0px none;
        padding-left:0px;
        border-top:1px solid #cccccc;
        background:transparent;
        &:first-child {
           border-top:0px none; 
        }
    }
}
.table-responsive {
    position:relative;
    z-index: 1;
    &:before {
        position: absolute;
        left: 14px;
        bottom: 27px;
        width: 33.3333%;
        content: " ";
        box-shadow: 0px 0px 30px 0px #323232;
        transform: rotate(-1deg);
        height: 97px;
        z-index: -79;
    }
    &:after {
        position: absolute;
        right: 14px;
        bottom: 27px;
        width: 33.3333%;
        content: " ";
        box-shadow: 0px 0px 30px 0px #323232;
        transform: rotate(1deg);
        height: 97px;
        z-index: -79;
    }
}
table.table.table-bordered {
    background: #ffffff;
    th {
        background:#455a64;
        color:white;
        border:1px solid #455a64;
    }
    td {
        background:white;
        border:1px solid #cccccc;
        padding: 5px 3px;
    }
    
}
.navbar {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.75);
    background:#eceff1;
    &.footer {
        margin-bottom:0px;
        padding:20px 0px;
    }
}

.playerMugShots {
    border:5px solid #eceff1;
    width:71px;
    height:71px;
    
    @media(min-width:768px){
        width:127px;
        height:127px; 
    }
    @media(min-width:1024px){
        width:178px;
        height:178px; 
    }
    
    
    
    .modal-body & {
        margin-top: -65px;
    }
}




.skaters.ng-enter,
.skaters.ng-leave,
.skaters.ng-move {
  transition: 0.5s linear all;
}

.skaters.ng-enter,
.skaters.ng-move {
  height: 0;
  opacity: 0;
  overflow: hidden;
}

.skaters.ng-enter.ng-enter-active,
.skaters.ng-move.ng-move-active {
  height: 120px;
  opacity: 1;
}

.skaters.ng-leave {
  opacity: 1;
  overflow: hidden;
}

.skaters.ng-leave.ng-leave-active {
  height: 0;
  opacity: 0;
  padding-bottom: 0;
  padding-top: 0;
}