.row.noMargin {
    margin:0px;
}
.fourUp {
    float: left;
    width: 25%;
    text-align: center;
}
.gameStats {
    width:100%; 
    padding-top:40px;
    .avIceTime {
        width:100%;
        height:10px;
        display: flex;
        flex-direction: row;
        background:#cfcfcf;
        flex-wrap: nowrap;
        position: relative;
        &:last-child{
            margin-bottom:20px;
        }
        .shifts{
            border-left:1px solid white;
            background:#263238;
        }
        .hits {
            border-left:1px solid white;
            background:#cfd8dc;
        }
        .shots {
            border-left:1px solid white;
            background: #37474f;
        }
        .blocks {            
            border-left:1px solid white;
            background:#78909c;
        }
        &:before {
            font-size:10px;
        }
        
        
        &.shiftWrapper {            
            &:after {
                position:absolute;
                left:1px;
                height:40px;
                border-left:5px solid #263238;
                width:1px;
                content:"";
                top:-30px;
            }
            &:before {
                position:absolute;
                top:-30px;
                height:10px;
                width:25%;
                text-align: center;
                
                content:"Average Shifts P/G";
            }
        }
        &.hitWrapper {
            &:after {
                position:absolute;
                left: 25%;
                height:40px;
                border-left:5px solid #cfd8dc;
                width:1px;
                content:"";
                top:-40px;
            }
            &:before {
                width: 25%;
                left:25%;
                position:absolute;
                content:"Average Hits P/G";
                top:-40px;
                text-align: center;
            }
        }
        &.shotWrapper {
            &:after {
                position:absolute;
                left: 50%;
                height:50px;
                border-left:5px solid #37474f;
                width:1px;
                content:"";
                top:-50px;
            }
            &:before {
                width: 25%;
                left:50%;
                position:absolute;
                content:"Average Shots P/G";
                top:-50px;
                text-align: center;
            }
        }
        &.blockWrapper {
            &:after {
                position:absolute;
                left: 75%;
                height:60px;
                border-left:5px solid #78909c;
                width:1px;
                content:"";
                top:-60px;
            }
            &:before {
                width: 25%;
                left:75%;
                position:absolute;
                content:"Average Blocks P/G";
                top:-60px;
                text-align: center;
            }
        }
        
    }
}