i.titleIcon {
    margin-bottom: 0px;
    float: left;
    margin-top: -4px;
    margin-right: 10px;
    color: $A5;
}

.topScores {
    float: left;
    background: white;
    margin-bottom: 20px;
    position:relative;
    z-index: 1;
    box-shadow: 0 0 10px rgba(100,100,100,0.3);
    margin-top:10px;
    min-height: 120px;
   /* &:before {
        position: absolute;
        left: 14px;
        bottom: 2px;
        width: 33.3333%;
        content: " ";
        box-shadow: 0px 0px 30px 0px #323232;
        transform: rotate(-1deg);
        height: 97px;
        z-index: -79;
    }
    &:after {
        position: absolute;
        right: 14px;
        bottom: 2px;
        width: 33.3333%;
        content: " ";
        box-shadow: 0px 0px 30px 0px #323232;
        transform: rotate(1deg);
        height: 97px;
        z-index: -79;
    }*/
    li {
        display: none;
        padding: 10px;
        float: left;
        width: 100%;
        color:#263238;
        background:#f0f0f0;
        position: relative;
        overflow: hidden;
        z-index: 2;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #dedede;
        a {
            color:#263238;
            cursor: pointer;
            text-decoration: none;
        }
        
        
        &:nth-child(1) {
            
            background: #B0BEC5;
            display: block;
            border-top: 1px solid $A2;
            border-bottom: 1px solid $A5;
            color: #37474f;            
            
            .details {
                width: 100%;
                margin: 0px;
                padding: 0px;
                float: left;
                height:auto;
                display: flex;
                align-items: center;
                
                @media(min-width:768px){
                    
                }
                
                .playerImage {
                    width:25%;
                    float: left; 
                    img.mugshotSml {
                        height:auto;
                        border: 5px solid $A2;                        
                    }
                    @media(min-width:1024px){
                        width: 33.3333%;                        
                    } 
                    
                }
                .textDetails {
                    width: 75%;
                    float: right;
                    padding-left: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    @media(min-width:1024px){
                        padding-left: 15px;
                        width: 66.6666%;
                    }                    
                    
                    .name {
                        float: left;
                        font-size: 14px;
                        line-height: 17px;                        
                        text-transform: uppercase;
                        strong {
                            font-weight: 700;
                        }
                    }
                    .score {                       
                        float: right;
                        font-size: 40px;                        
                        margin-left: 5px;
                        font-weight: bold;
                        padding-right:20px;
                    }
                }                
            }
        }
        &:nth-child(2), &:nth-child(3) {
            display: block;
            .details {
                display: flex;
                align-items: center;
                .playerImage {
                    width:20%;
                    img {
                        width: 100%;
                    }
                }
            }
            
            
            .mugshotSml {                
                float: left;
                height:auto;
            }
            
            
            .textDetails { 
                width: 80%;
                height: auto;
                @media(min-width:1024px){
                         height: 40px;
                    } 
                
                float: left;
                padding-left: 10px;                
                .name {
                    width:75%;
                    float: left;
                    text-transform: uppercase;
                    
                }
                .score {
                    width: 25%;
                    float: right;
                    line-height: 40px;
                    height: 40px;
                    text-align: right;
                    font-size: 25px;
                    padding-right:20px;
                }
            }           
            
        }
        
                &:hover {
                    transition: color 300ms ease-in-out;
                    color:white;
                    text-decoration:none;
                    cursor: pointer;
                    &:after {
                        transform: scale(1);
                        border-radius:0%;
                    }
                }
                &:after {
                    transition: all 300ms ease-in-out;
                    content:"";
                    background:#90a4ae;
                    width:200%;
                    height:500px;
                    position:absolute;
                    right:0;
                    top:50%;
                    margin-top: -250px;
                    border-radius: 50%;
                    transform: scale(0);
                    z-index: -1;
                }
        
    }
}
.division h3 {
    padding:5px;
    margin:0px 10px;
}

