//colours lightest - Darkest
$A1 : #ECEFF1;
$A2 : #CFD8DC;
$A3 : #B0BEC5;
$A4 : #90A4AE;
$A5 : #78909C;
$A6 : #607D8B;
$A7 : #546E7A;
$A8 : #455A64;
$A9 : #37474F;
$A10: #263238;
//Screen sizes
$screen-sm : 768px;
$screen-md : 992px;
$screen-lg : 1200px;

@mixin slickList() {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #dedede;
    background: #f0f0f0;
    color: #263238;
}
@mixin slickHeading() {
    border-top: 1px solid $A3;
    border-bottom: 1px solid $A8;
    background: $A6;
    color: $A1;
}
@mixin lightSlickHeading() {
    border-top: 1px solid $A1;
    border-bottom: 1px solid $A6;
    background: $A3;
    color: $A9;
}