<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="" ng-app="rosters"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="apple-mobile-web-app-title" content="LineMate">
        <meta name="application-name" content="LineMate">
        <meta name="msapplication-TileColor" content="#2d89ef">
        <meta name="theme-color" content="#ffffff">
        
        <link rel="stylesheet" href="css/bootstrap.min.css">        
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="css/animate.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="css/main.css">

        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
        <link rel="manifest" href="/manifest.json">
    </head>
    <body ng-controller="mainController" class="team-{{players.teams[0].abbreviation}}">
<nav class="navbar navbar-fixed-top color-1-border-btm color-2-border-top" role="navigation">
      <div class="container">
       <div class="row">
           <div class="col-xs-12 col-sm-6">
               <img src="https://www-league.nhlstatic.com/images/logos/league-light/133-com-xl.svg" alt="" style="height:40px; margin:10px;"> 

           </div>
            <div class="col-xs-12 col-sm-3 col-sm-offset-3">
               
               
               
                <div class="form-group"style="margin:10px;" >                     
                    <select ng-model="selectedTeam" ng-change="changeTeam(selectedTeam)" class="form-control">    
                       <option value="{{team.id}}" ng-repeat="team in teamsData.teams | orderBy:'name' ">{{team.name}}</option>
                    </select>                
                </div>
            </div>
       </div>
        
      </div>
    </nav>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
             <div class="col-xs-12">
                 <div class="panel panel-default">
                     <div class="panel-body">
                         <div class="row">
                            <div class="col-sm-2 col-xs-4 text-center">
                                <div style="padding:10px;">
                                   <img ng-src="https://www-league.nhlstatic.com/nhl.com/builds/site-core/a2d98717aeb7d8dfe2694701e13bd3922887b1f2_1542226749/images/logos/team/current/team-{{players.teams[0].id}}-dark.svg" alt="" class="img-responsive center-block teamlogo" style="">

                                </div>
                                <h5>
                                  EST {{players.teams[0].firstYearOfPlay}}  
                               </h5>
                            </div>
                            <div class="col-sm-6 col-xs-8">
                                <h1>{{players.teams[0].name}}</h1>
                                <h3>{{players.teams[0].venue.name}} - {{players.teams[0].venue.city}}</h3> 
                                <a ng-href="{{teamStatsData.teams[0].officialSiteUrl}}" class="btn btn-default" target="_blank"
                                >Official Website</a>

                            </div>
                            <div class="clearfix visible-xs"></div>
                            
                            
                            <div class="col-sm-4 col-xs-8 text-center">
                                <teamstats id="stats" wins="teamStatsData.teams[0].record.leagueRecord.wins" otw="teamStatsData.teams[0].record.leagueRecord.ot" losses="teamStatsData.teams[0].record.leagueRecord.losses" class="center-block team-{{players.teams[0].abbreviation}}" ng-class=""></teamstats>   
                                <ul class="list-unstyled list-inline team-{{players.teams[0].abbreviation}}">
                                    <li><span class="legendBoxes wins"></span> W: {{teamStatsData.teams[0].record.leagueRecord.wins}}</li>
                                    <li><span class="legendBoxes otw"></span>OTL:{{teamStatsData.teams[0].record.leagueRecord.ot}}</li>
                                    <li><span class="legendBoxes los"></span>L:{{teamStatsData.teams[0].record.leagueRecord.losses}}</li>
                                </ul>
                            </div>
                            
                            
                                   <div class="col-xs-4 col-md-2">
                                        <div class="well well-sm text-center mgn-btm">                                  
                                           NHL <br>Overall
                                           <div class="clearfix"></div>
                                           <h1 class="zeroMargins">{{teamStatsData.teams[0].record.leagueRank | ordinal}}</h1>
                                        </div>
                                    </div> 
                                    <div class="col-xs-4 col-md-2">
                                        <div class="well well-sm text-center mgn-btm">  
                                                      {{players.teams[0].conference.name}} <br>                    
                                           Conference
                                           <div class="clearfix"></div>
                                           <h1 class="zeroMargins">{{teamStatsData.teams[0].record.conferenceRank | ordinal}}</h1>
                                        </div>
                                    </div> 
                                    <div class="col-xs-4 col-md-2">
                                        <div class="well well-sm text-center mgn-btm"> 
                                          {{players.teams[0].division.name}}<br>                                 
                                           Division
                                           <div class="clearfix"></div>
                                           <h1 class="zeroMargins">{{teamStatsData.teams[0].record.divisionRank | ordinal}}</h1>
                                        </div>
                                    </div> 
                                    <div class="clearfix visible-xs"></div>
                                    
                                    <div class="col-xs-4 col-md-2">
                                        <div class="well well-sm text-center mgn-btm"> 
                                              Goals<br>                                 
                                           Scored 
                                           <div class="clearfix"></div>
                                           <h1 class="zeroMargins">{{teamStatsData.teams[0].record.goalsScored}}</h1>
                                        </div>
                                    </div> 
                                    <div class="col-xs-4 col-md-2">
                                        <div class="well well-sm text-center mgn-btm"> 
                                              Goals<br>                                 
                                           Conceeded 
                                           <div class="clearfix"></div>
                                           <h1 class="zeroMargins">{{teamStatsData.teams[0].record.goalsAgainst}}</h1>
                                        </div>
                                    </div> 
                                    <div class="col-xs-4 col-md-2">
                                        <div class="well well-sm text-center mgn-btm"> 
                                              Team<br>Streak 
                                           <div class="clearfix"></div>
                                           <h1 class="zeroMargins">{{teamStatsData.teams[0].record.streak.streakCode}}</h1>
                                        </div>
                                    </div> 
                                    
                                    
                         </div>
                     </div>
                 </div>
             </div>
             
             
             
            
            </div>
        <div>
            <div class="row">
                <div class="col-sm-12">
            <ul class="nav nav-pills">
               <li>
                   <a href="" ng-click="playerPositionGroup(' ')" ng-class="playerPosition == ' ' ? 'active' : ''" class="active">All Players</a>
               </li>
                <li>
                    <a href ng-click="playerPositionGroup('Goalie')" ng-class="playerPosition == 'Goalie' ? 'active' : ''">Goalies</a>
                </li>
                <li>
                    <a href ng-click="playerPositionGroup('Defenseman')" ng-class="playerPosition == 'Defenseman' ? 'active' : ''">Defensemen</a>
                </li>
                <li>
                    <a href ng-click="playerPositionGroup('Forward')"ng-class="playerPosition == 'Forward' ? 'active' : ''">Forwards</a>
                </li>
            </ul>
            </div>

            </div>
            <!--<div class="row">               
                <div class="col-sm-3" ng-repeat="skater in players.teams[0].roster.roster | orderBy:'-person.stats[0].splits[0].stat.goals' | limitTo: 3">
                    <span style="color:white">{{skater.person.fullName}} {{skater.person.stats[0].splits[0].stat.goals}}</span>
                </div>
            </div>-->
            <div class="row">
                <div class="col-sm-12" ng-cloak>
                    <hr>  
                       <div class="row">
                           <div class="col-sm-3 col-xs-12" ng-repeat="skater in players.teams[0].roster.roster | filter:playerPosition | orderBy:'-position.type'" ng-cloak>
                               
                               
                               
                                <div class="panel panel-default">
                                    <div class="panel-heading color-1-border-btm">
                                        {{skater.person.fullName}} <span class="badge pull-right color-1-bg">{{skater.jerseyNumber}}</span>
                                    </div>
                                    <div class="panel-body color-2-border-top">
                                       <div class="row">
                                           <div class="col-xs-3 col-sm-12">
                                               <img src="" ng-src="https://nhl.bamcontent.com/images/headshots/current/168x168/{{skater.person.id}}.jpg" class="img-thumbnail img-responsive center-block ng-cloak">
                                           </div>
                                           <div class="col-xs-4 col-sm-12">
                                               <h5>{{skater.position.type}}</h5>
                                           </div>
                                           <div class="col-xs-5 col-sm-12 text-right">
                                               <a class="btn btn-sm btn-default btn-block" ng-click="getPlayer(skater.person.id)">More Info</a>
                                           </div>
                                       </div>                                      
                                       
                                       
                                        
                                                                   
                                    </div>
                                    
                                    
                                    
                                    <!--<div class="panel-footer">
                                        <a class="btn btn-primary btn-xs" href="{{goalie.twitterURL}}" target="_blank"data-toggle="tooltip" data-placement="top" title="{{forwards.twitterHandle}}"><i class="fa fa-twitter"></i></a>
                                    </div>-->                            
                                </div>
                                
                             </div>
                        </div>
                </div>
            </div>            
        </div>
        
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">{{selectedPlayerData.people[0].fullName}}</h4>        
      </div>
      <div class="modal-body">
        <div class="row">
           <div class="col-xs-4">
                <img src="" ng-src="https://nhl.bamcontent.com/images/headshots/current/168x168/{{selectedPlayerData.people[0].id}}.jpg" class="img-thumbnail img-responsive center-block">
            </div>
            <div class="col-xs-8">
              <span class="badge pull-right">{{selectedPlayerData.people[0].primaryNumber}}</span>
               <ul class="list-group">
                  <li class="list-group-item">Position: {{selectedPlayerData.people[0].primaryPosition.name}}</li>
                  <li class="list-group-item">Age: {{selectedPlayerData.people[0].currentAge}}</li>                  
                  <li class="list-group-item">Weight: {{selectedPlayerData.people[0].weight}}</li>
                  <li class="list-group-item">Height: {{selectedPlayerData.people[0].height}}</li>
                  <li class="list-group-item">Home Town: {{selectedPlayerData.people[0].birthCity}}, {{selectedPlayerData.people[0].birthStateProvince}}, {{selectedPlayerData.people[0].birthCountry}}</li>
                </ul>
            </div>            
        </div>
        <div class="row">
            <div class="col-xs-12">              
               <div class="table-responsive">
                    <table class="table table-bordered table-condensed ultra-condenced" ng-show="selectedPlayerData.people[0].primaryPosition.type != 'Goalie'">
                   <thead>
                       <tr>
                           <th class="text-center">Season</th>
                           <th>Team</th>
                           <th>League</th>
                           <th class="text-center">GP</th>
                           <th class="text-center">G</th>
                           <th class="text-center">A</th>
                           <th class="text-center">TP</th>  
                           <th class="text-center">PIM</th>                         
                       </tr>
                   </thead>
                    <tbody>
                        <tr ng-repeat="season in selectedPlayerData.people[0].stats[0].splits | limitTo:-8">
                            <td class="text-center">{{season.season|limitTo:4}}/{{season.season|limitTo:4:4}}</td>
                            <td>{{season.team.name}}</td>
                            <td>
                                <span ng-if="season.league.name == 'National Hockey League'">NHL</span>
                                <span ng-if="season.league.name != 'National Hockey League'">{{season.league.name}}</span>
                            </td>
                            <td class="text-center">{{season.stat.games}}</td>
                            <td class="text-center">{{season.stat.goals}}</td>
                            <td class="text-center">{{season.stat.assists}}</td>
                            <td class="text-center">{{season.stat.points}}</td>
                            <td class="text-center">{{season.stat.penaltyMinutes}}</td>                            
                        </tr>
                    </tbody>
                </table>
                <table class="table table-bordered table-condensed ultra-condenced " ng-show="selectedPlayerData.people[0].primaryPosition.type == 'Goalie'">
                   <thead>
                       <tr>
                           <th class="text-center">Season</th>
                           <th>Team</th>
                           <th>League</th>
                           <th class="text-center">GP</th>
                           <th class="text-center">SO</th>
                           <th class="text-center">W</th>
                           <th class="text-center">GAA</th>  
                           <th class="text-center">SV%</th>                         
                       </tr>
                   </thead>
                    <tbody>
                        <tr ng-repeat="season in selectedPlayerData.people[0].stats[0].splits | limitTo:-8">
                            <td class="text-center">{{season.season|limitTo:4}}/{{season.season|limitTo:4:4}}</td>
                            <td>{{season.team.name}}</td>
                            <td>
                                <span ng-if="season.league.name == 'National Hockey League'">NHL</span>
                                <span ng-if="season.league.name != 'National Hockey League'">{{season.league.name}}</span>
                            </td>
                            <td class="text-center">{{season.stat.games}}</td>
                            <td class="text-center">{{season.stat.shutouts}}</td>
                            <td class="text-center">{{season.stat.wins}}</td>
                            <td class="text-center">{{season.stat.goalAgainstAverage}}</td>
                            <td class="text-center">{{season.stat.savePercentage}}</td>                            
                        </tr>
                    </tbody>
                </table>
                </div>
            </div>
        
            <div class="col-xs-12">
                 <div class="table-responsive">
                    <player-points id="player" ng-show="selectedPlayerData.people[0].primaryPosition.type != 'Goalie'">
               
                    </player-points>
                  </div>                      
            </div>
            
            <div class="col-xs-12">
                <div ng-show="selectedPlayerData.people[0].primaryPosition.type != 'Goalie'">
                    <div ng-repeat="season in selectedPlayerData.people[0].stats[0].splits | limitTo:-1">
                       
                       
                       
                        <div class="row">
                           <div class="col-xs-12 text-center">
                               <h3>Shifts &amp; Game Time          {{season.season|limitTo:4}}/{{season.season|limitTo:4:4}}</h3> {{theirAvShifts[theirAvShifts.length - 1] | number:0}}                <hr>   
                           </div>
                           <div class="col-xs-12">
                              <div class="statWrapper">
                                    <div class="totalTime">
                                       <div class="row">
                                    <div class="col-xs-6 text-center">
                                               Total Shifts  
                                    <div class="clearfix"></div>
                                    <h3 class="zeroMargins">{{season.stat.shifts}}</h3>
                                    </div>
                                    <div class="col-xs-6 text-center">
                                               Total Ice Time (mins)    
                                    <div class="clearfix"></div>
                                    <h3 class="zeroMargins">{{season.stat.timeOnIce}}</h3>
                                           </div>
                                       </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <hr>  
                                        </div>
                                    </div>
                                    <div class="row noMargin">
                                        <div class="fourUp text-center">
                                            <h3 class="zeroMargins">{{shifts}}</h3>
                                        </div>
                                        <div class="fourUp text-center">
                                            <h3 class="zeroMargins">{{hits}}</h3>
                                        </div>
                                        <div class="fourUp text-center">
                                            <h3 class="zeroMargins">{{shots}}</h3>
                                        </div>
                                        <div class="fourUp text-center">
                                            <h3 class="zeroMargins">{{blocks}}</h3>
                                        </div>
                                    </div>
                                    
                                     
                                 
                                 
                                 
                                  <div class="gameStats">                                  
                                   <div class="avIceTime shiftWrapper">
                                       <div ng-repeat="i in getNumber(shifts) track by $index" class="shifts" data-toggle="tooltip" data-placement="top" title="Shifts" style="width:{{shiftWidth}}%">                                       
                                       </div>
                                   </div>
                                   <div class="avIceTime hitWrapper">
                                       <div ng-repeat="j in getNumber(hits) track by $index" class="hits"data-toggle="tooltip" data-placement="top" title="Hits" style="width:{{hitWidth}}%">
                                           
                                       </div>
                                   </div>
                                   <div class="avIceTime shotWrapper">
                                       <div ng-repeat="i in getNumber(shots) track by $index" class="shots" data-toggle="tooltip" data-placement="top" title="Shots" style="width:{{shotWidth}}%">
                                           
                                       </div>
                                   </div>
                                  <div class="avIceTime blockWrapper">
                                              <div ng-repeat="i in getNumber(blocks) track by $index" class="blocks" data-toggle="tooltip" data-placement="top" title="Blocks" style="width:{{blockWidth}}%">
                                       </div>
                                   </div>
                                    <!--<div class="avIceTime">
                                       <div ng-repeat="i in theirAvGoals track by $index" class="goals" data-toggle="tooltip" data-placement="top" title="Goals">
                                           
                                   </div>
                                   </div>
                                   <div class="avIceTime">
                                       <div ng-repeat="i in theirAvAssists track by $index" class="assits" data-toggle="tooltip" data-placement="top" title="Assists">                                        
                                       </div>
                                   </div>-->
                               </div>
                              </div>
                               
                           </div>
                        </div>                        
                    </div>
                </div>
            </div>
        
    </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>





    </div> <!-- /container -->
       
<div class="navbar footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <P>
                   {{players.copyright}}
               </P>  
            </div>
        </div>
    </div> 
</div>
       
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script
  src="https://code.jquery.com/jquery-1.12.4.min.js"
  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
  crossorigin="anonymous"></script>
       
        <script src="js/vendor/bootstrap.min.js"></script>
        <script src="js/blockUI.js"></script>
        <script src="js/angular.js"></script> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.js"></script>       
        
        
        <script type="text/javascript">
            $(document).ready(function(){
                  $('[data-toggle="tooltip"]').tooltip();
            });
            $(document).ajaxStart($.blockUI).ajaxStop($.unblockUI);
            
            if('serviceWorker' in navigator){
                navigator.serviceWorker
                .register('sw.js')
                .catch(err => console.error('theres a problem with the SW', err));
            }
            
        </script>  
        <script src="js/main.js"></script> 
    </body>
</html>
