<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en-EN" ng-app="rosters">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>LineMate</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="apple-mobile-web-app-title" content="LineMate">
    <meta name="application-name" content="LineMate">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#ffffff">


    <link rel="stylesheet" href="css/bootstrap.min.css" rel="preload">
    <link rel="stylesheet" href="css/main.css" rel="preload">
    <link rel="stylesheet" href="css/flag-css.min.css">
    <link rel="manifest" href="/manifest.json">

</head>

<body ng-controller="mainController" class="team-{{players.teams[0].abbreviation}}" ng-cloak id="top">
    
    <nav class="navbar navbar-fixed-top hidden-lg" role="navigation" ng-cloak>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <a class="navSwitch hidden-lg" ng-click="shutTray()">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                    </a>
                    <img src="img/lineMateLogo.png" alt="LineMate" class="img-responsive linemate-logo">
                </div>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="tray closed" id="tray">
            <ng-include src="'templates/teamNav.html'"></ng-include>
        </div>
        <div class="trayback closed hidden-lg" ng-click="shutTray()" id="trayback">

        </div>

        <!-- Example row of columns -->
        <div class="row" id="mainSection">
            <div class="col-xs-12 col-lg-8 col-lg-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading relative team-heading">
                        <h1 ng-cloak><small>{{players.teams[0].locationName}} </small>{{players.teams[0].teamName}}</h1>
                        <div class="logoWrapper color-1-border-btm color-2-border-top">
                            <img ng-src="https://www-league.nhlstatic.com/nhl.com/builds/site-core/a2d98717aeb7d8dfe2694701e13bd3922887b1f2_1542226749/images/logos/team/current/team-{{players.teams[0].id}}-dark.svg" alt="{{players.teams[0].name}}" class="img-responsive center-block teamlogo" style="" ng-cloak>
                        </div>

                    </div>

                    <div class="panel-body hiddenOverflow positionRelative">
                        <div class="row">

                            <div class="col-xs-12">
                                <div class="venueWrapper">
                                    <h3 class="mgn-top-0px" ng-cloak><strong>{{players.teams[0].venue.name}}</strong> - {{players.teams[0].venue.city}}</h3>
                                    <h5 class="mgn-btm-30px">EST {{players.teams[0].firstYearOfPlay}} </h5>
                                </div>
                                <!--<a ng-href="{{teamStatsData.teams[0].officialSiteUrl}}" class="btn btn-default" target="_blank"
                                 ng-cloak >Official Website</a>-->
                            </div>

                        </div>

                    </div>
                    <!-- here -->

                    <div class="row noGutter">
                        <div class="col-xs-12 col-sm-6 pad-sm-rgt-0px">
                            <div class="detailsRow">
                                <div class="detail text-center mgn-btm" ng-cloak>
                                    <span class="uppercase tenPx">
                                              NHL <br>Overall
                                          </span>

                                    <div class="clearfix"></div>
                                    <h1 class="zeroMargins">{{teamStatsData.teams[0].record.leagueRank | ordinal}}</h1>
                                </div>
                                <div class="detail text-center mgn-btm" ng-cloak>
                                    <span class="uppercase tenPx">
                                                {{players.teams[0].conference.name}}<br>Conference
                                            </span>
                                    <div class="clearfix"></div>
                                    <h1 class="zeroMargins">{{teamStatsData.teams[0].record.conferenceRank | ordinal}}</h1>
                                </div>
                                <div class="detail text-center mgn-btm" ng-cloak>
                                    <span class="uppercase tenPx">
                                                {{players.teams[0].division.name}}<br>Division
                                            </span>

                                    <div class="clearfix"></div>
                                    <h1 class="zeroMargins">{{teamStatsData.teams[0].record.divisionRank | ordinal}}</h1>
                                </div>
                                <div class="detail text-center mgn-btm" ng-cloak>
                                    <span class="uppercase tenPx">Goals<br>Scored </span>
                                    <div class="clearfix"></div>
                                    <h1 class="zeroMargins">{{teamStatsData.teams[0].record.goalsScored}}</h1>
                                </div>
                                <div class="detail text-center mgn-btm" ng-cloak>
                                    <span class="uppercase tenPx">
                                                 Goals<br>Conceeded 
                                             </span>
                                    <div class="clearfix"></div>
                                    <h1 class="zeroMargins">{{teamStatsData.teams[0].record.goalsAgainst}}</h1>
                                </div>
                                <div class="detail text-center mgn-btm" ng-cloak>
                                    <span class="uppercase tenPx">
                                                 Team<br>Streak 
                                             </span>
                                    <div class="clearfix"></div>
                                    <h1 class="zeroMargins">{{teamStatsData.teams[0].record.streak.streakCode}}</h1>
                                </div>
                            </div>

                        </div>
                        <div class="col-xs-12 col-sm-6 pad-sm-lft-0px">
                            <div class="teamStatsWrapper">
                                <teamstats id="stats" wins="teamStatsData.teams[0].record.leagueRecord.wins" otw="teamStatsData.teams[0].record.leagueRecord.ot" losses="teamStatsData.teams[0].record.leagueRecord.losses" class="center-block team-{{players.teams[0].abbreviation}}" ng-class=""></teamstats>
                                <!--<ul class="list-unstyled list-inline team-{{players.teams[0].abbreviation}} legendList">
                                    <li ng-cloak>{{teamStatsData.teams[0].record.leagueRecord.wins}}</li>
                                    <li ng-cloak>{{teamStatsData.teams[0].record.leagueRecord.ot}}</li>
                                    <li ng-cloak>{{teamStatsData.teams[0].record.leagueRecord.losses}}</li>
                                </ul>-->
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row mgn-top-20px">
                    <ng-include src="'templates/topScorerers.html'"></ng-include>
                </div>
                <ng-include src="'templates/teamRoster.html'"></ng-include>
            </div>
            <div class="col-xs-12 col-lg-2">
              <ng-include src="'templates/nhlStandings.html'"></ng-include>
            </div>
        </div>

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
           <div class="modal-dialog  modal-lg" role="document">
               <ng-include src="'templates/playerModal.html'"></ng-include>
            </div>            
        </div>        
    </div>
    <!-- /container -->
    <div class="navbar-fixed-bottom color-1-border-btm color-2-border-top visible-xs">
        <div class="flex">
            <div class="item">
                <a href="" ng-click="shutTray()">
                    <i class="fa fa-list" aria-hidden="true"></i>
                </a>
            </div>
            <div class="item">
                <a href="" ng-click="favs()">
                    <i class="fa fa-star" aria-hidden="true"></i>
                </a>

            </div>
            <div class="item">
                <a href="" ng-click="playersNav()">
                    <i class="fa fa-user-plus" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="navbar footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="disclaimer">
                        <P>
                            {{players.copyright}}
                        </P>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>

    <script src="js/vendor/bootstrap.min.js"></script>
    <script src="js/blockUI.js"></script>
    <script src="js/vendor/hammer.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/angular-animate.js"></script>
   
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.js"></script>-->

    <script type="text/javascript">
       
        $(document).ajaxStart($.blockUI).ajaxStop($.unblockUI);

        if ('serviceWorker' in navigator) {
            navigator.serviceWorker
                .register('sw.js')
                .catch(err => console.error('theres a problem with the SW', err));
        }   
        
    </script>
    <script src="js/main.js"></script>
    <script>
     var io = new IntersectionObserver(
                      entries => {
                        console.log(entries);
                      },
                      {
                        /* Using default options. Details below */
                      }
                    );
                    // Start observing an element
                    io.observe("mainSection"); </script>
                    
                        <link href="https://fonts.googleapis.com/css?family=Arimo:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</body>

</html>