<div class="col-sm-4">
                        <h4><i class="material-icons titleIcon">gps_fixed</i> TOP GOAL SCORERS</h4>
                        <ul class="list-unstyled topScores">
                            <li ng-repeat="skater in players.teams[0].roster.roster | orderBy:'-person.stats[0].splits[0].stat.goals'" ng-if="skater.person.stats[0].splits[0].stat.goals > 0" ng-click="getPlayer(skater.person.id)" ng-cloak>
                                <div class="details" ng-click="getPlayer(skater.person.id)" ng-cloak>
                                    <div class="playerImage">
                                        <img src="" ng-src="https://nhl.bamcontent.com/images/headshots/current/168x168/{{skater.person.id}}.jpg" class="img-circle img-responsive center-block ng-cloak playerMugShots mugshotSml" alt="{{skater.person.fullName}}">
                                    </div>
                                    <div class="textDetails">
                                        <div class="name">
                                            {{skater.person.firstName}}
                                            <br>
                                            <strong>{{skater.person.lastName}}</strong>
                                        </div>
                                        <div class="score">
                                            {{skater.person.stats[0].splits[0].stat.goals}}
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <h4><i class="material-icons titleIcon">merge_type</i> TOP ASSISTS</h4>
                        <ul class="list-unstyled topScores">
                            <li ng-repeat="skater in players.teams[0].roster.roster | orderBy:'-person.stats[0].splits[0].stat.assists'" ng-if="skater.person.stats[0].splits[0].stat.assists > 0" ng-click="getPlayer(skater.person.id)" ng-cloak >
                                <div class="details" ng-click="getPlayer(skater.person.id)"  ng-cloak>
                                    <div class="playerImage">
                                        <a ng-click="getPlayer(skater.person.id)">
                                            <img src="" ng-src="https://nhl.bamcontent.com/images/headshots/current/168x168/{{skater.person.id}}.jpg" class="img-circle img-responsive center-block ng-cloak playerMugShots mugshotSml" alt="{{skater.person.fullName}}">
                                        </a>
                                    </div>
                                    <div class="textDetails">
                                        <div class="name">
                                            {{skater.person.firstName}}
                                            <br>
                                            <strong>{{skater.person.lastName}}</strong>
                                        </div>
                                        <div class="score">
                                            {{skater.person.stats[0].splits[0].stat.assists}}
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <h4><i class="material-icons titleIcon">report</i> <span class="visible-md visible-lg">TOP PENALTY MINUTES</span> <span class="visible-sm visible-xs">TOP PENALTIES</span></h4>
                        <ul class="list-unstyled topScores">
                            <li ng-repeat="skater in players.teams[0].roster.roster | orderBy:'-person.stats[0].splits[0].stat.pim'" ng-if="skater.person.stats[0].splits[0].stat.pim > 0" ng-click="getPlayer(skater.person.id)" ng-cloak>
                                <div class="details" ng-click="getPlayer(skater.person.id)" >
                                    <div class="playerImage">
                                        <img src="" ng-src="https://nhl.bamcontent.com/images/headshots/current/168x168/{{skater.person.id}}.jpg" class="img-circle img-responsive center-block ng-cloak playerMugShots mugshotSml" alt="{{skater.person.fullName}}">
                                    </div>
                                    <div class="textDetails">
                                        <div class="name">
                                            {{skater.person.firstName}}
                                            <br>
                                            <strong>{{skater.person.lastName}}</strong>
                                        </div>
                                        <div class="score">
                                            {{skater.person.stats[0].splits[0].stat.pim}}
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>